body {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5rem;
	display: inline-block;
}

body.dark {
	background-color: #000;
	color: #e0e0e0;
}

input, button, textarea {
	border-width: 1px;
	border-radius: 3px;
}

.dark input, .dark textarea, .dark button {
	background-color: #000;
	color: #e0e0e0;
}

.light input, .light textarea, .light button {
	background-color: #fff;
	color: #000;
}

#timestamps {
	min-width: 350px;
	height: 10rem;
	resize: none;
}

.dark .grayout {
	background: #333!important;
}

.light .grayout {
	background: #ddd!important;
}

#submit-div {
	text-align: right;
	margin-top: 0.5rem;
}